<h1>My Tasks</h1>

<% @tasks.each do |task| %>
  <h2><%= task.title %></h2>
  <p><%= task.details %></p>
  <p><%= task.completed %></p>
  <li><%= link_to 'view task', task_path(task) %>
  <li><%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
  </li>
<% end %>

<li><%= link_to 'Add a new Task', new_task_path %></li>







